.how-it-works {
    background-color: white; 
    padding: 40px; 
    text-align: center;
    margin-bottom: 80px; 
  }
  p.description{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 240px;
    max-width: 750px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 500;
  }
  .heading  {
    font-weight: bold; 
    font-size: 2em;
    margin-bottom: 10px; 
    color: black;
    margin-top: 40px;
  }
  

  
  .grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 3px; 
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .square {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 60px; 
   
  }
  
  .colored {
    background-color: rgb(232, 251, 255); 
  }
  
  .logo {
    width: 60px; 
    height: 60px; 
    margin-bottom: 10px;
  }
  
  .square-text {
    font-weight: bold; 
    font-size: 1em; 
  }

  .square-text1{
    font-weight: bold; 
    font-size: 1em; 
    max-width: 170px;
    
  }
  .square-text3{
    font-weight: bold; 
    font-size: 1em;
    max-width: 200px;
    
  }
  